.extra button{
  float:right;
}

.main, .extra{
  background: steelblue;
}

/********************************************
media queries
********************************************/

/*from phone to tablet*/
@media only screen and (min-width:481px){ 
  .main,.extra{
    float:left;
  }
  .main,.extra{
    width:100%;
  }
}

/*from tablet to desktop*/
@media only screen and (min-width:769px){
  .logo{
    float:left;
    width:30%;
  }
  nav{
    float:right;
    width:70%;
    border:none;
    margin:0;
    height:100%;
  }
  
  nav a{
    padding:29.8px;
  }
}

/*set the max-width*/
@media only screen and (min-width:1024px){
  .wrap{
    max-width:1024px;
  }
}

