
/********************************************
content
********************************************/

.col{
    background:#002958;
    font-size:0.98em;
}

.extra button{
  float:right;
}

#add{
    float: left;
    padding: 10px;
    border-radius: 5px;
    background: #113378;
    color: #D5AF18;
    border-color: #D5AF18;
}
.lst span{
  /*visibility: hidden;*/
}
.lst button{
  border-radius: 5px;
  background: #113378;
  color: #D5AF18;
  border-color: #D5AF18;
}
.lst a{
  color: white;
  float:right;
  font-size: 0.8em;
}
.lst a:hover{
  text-decoration: underline;
}
.lst h3{

}
.lst p{

}
/********************************************
media queries
********************************************/

/*from phone to tablet*/
@media only screen and (min-width:481px){ 
  .main,.extra{
    float:left;
  }
  .main,.extra{
    width:100%;
  }
}

/*from tablet to desktop*/
@media only screen and (min-width:769px){

}

/*set the max-width*/
@media only screen and (min-width:1024px){
  .wrap{
    max-width:1024px;
  }
}