/********************************************
General
********************************************/
*{
  box-sizing:border-box;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{
  margin:0;
  padding:0;
  /*set the font style*/
  font-family: 'Ubuntu', sans-serif;
  color:#FFF;
 }

.wrap{
  width:95%;
  margin:0 auto;
}

h2{
  color: #D5AF18;
}
 a{
  text-decoration: none;
 }

.btn{
  padding: 15px;
  background: deepskyblue;
  color: white;
  border: 0;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  -webkit-transition:background 0.5s;
  transition:background 0.5s;
}

.btn:hover{
  background: #D5AF18;
}
/********************************************
all the sections style
********************************************/
.col{
  margin:20px 0;
  overflow:hidden;
  padding:20px;
  color:white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
/********************************************
header
********************************************/
header{
  background:#002958;
  text-align:center;
  float:left;
  width:100%;
  font-style:italic;
  margin-bottom: 10px;
}
nav{
  border-top:1px solid rgba(0,0,0,0.7);;
}
.logo, nav > a{
  display:inline-block;
  color:#FFF;
  text-decoration:none;
}
nav > a{
  margin: -3px;
  transition:background 0.5s;
}
/*for the admin status*/
nav > span > a{
  color:white;
  font-size: 0.85em;
}
nav > span > a:hover{
  color:brown;
  text-decoration: underline;
}
/*for the admin status*/
nav > a:hover{
  background:steelblue;
  color:#D5AF18;
  border-bottom: 3px #D5AF18 solid;
}

.selected{
  background:steelblue;
  color:#D5AF18;
  border-bottom: 3px #D5AF18 solid;
}

/*****************************************
main-footer
*****************************************/
.main-footer{
  clear:both;
  height:250px;
  background:#002958;
}

.fwrapper{
  width: 30%;
  margin: 10px auto;
}
.fcol{
  display: inline-block;
  width: 31%;
  margin: 10px auto;
  vertical-align: top;
  font-size: 0.98em;
}
.fcol p{
  margin: 0 0;
}
.fcol a{
  color: white;
  text-decoration: none;
}
.fcol a:hover{
  text-decoration:underline;
}
/*****************************************
General media queries for nav footer
*****************************************/
@media only screen and (min-width:769px){
  .logo{
    float:left;
    width:30%;
  }
  nav{
    float:right;
    width:70%;
    border:none;
    margin:0;
    height:100%;
  }
  
  nav a{
    padding:17.8px;
  }
}


