
/********************************************
content
********************************************/

.col{
    background:#002958;
    font-size:0.98em;
}

.extra button{
  float:right;
}



/********************************************
media queries
********************************************/

/*from phone to tablet*/
@media only screen and (min-width:481px){ 
  .main,.extra{
    float:left;
  }
  .main,.extra{
    width:100%;
  }
}

/*from tablet to desktop*/
@media only screen and (min-width:769px){

}

/*set the max-width*/
@media only screen and (min-width:1024px){
  .wrap{
    max-width:1024px;
  }
}